@import '../../styles/tools.scss';

.itemsContainer {
  background-color: var(--pure-white-color);
  border-radius: var(--border-radius);
}

.itemSeparator {
  --item-gutter: calc(var(--gap) + var(--gap) / 2);

  margin-left: var(--item-gutter);
  margin-right: var(--item-gutter);
  height: 1px;

  background-color: var(--white-color);
}

.itemsNotFound {
  padding: 2em;

  text-align: center;
  font-size: var(--text-m);
  color: var(--dark-grey-color);

  @include mq-to('m') {
    font-size: var(--text-s);
  }
}
